@charset "UTF-8";
/* コピペ用コード */
:root {
  /* フォントサイズ */
  --font-10: 0.625rem; /* 12px */
  --font-12: 0.75rem; /* 12px */
  --font-13: 0.8125rem; /* 13px */
  --font-14: 0.875rem; /* 14px */
  --font-16: 1rem; /* 16px */
  --font-20: 1.25rem; /* 20px */
  --font-24: 1.5rem; /* 24px */
  --font-28: 1.75rem; /* 28px */
  --font-36: 2.25rem; /* 36px */

  /* 文字カラー */
  --font-black: #000;
  --font-white: #fff;

  /* ラインカラー */
  --line-color: #000;

  /* 背景色 */
  --bg-color: #f0f0f0;

  /* ボタンカラー */
  --btn-color: #4b4b4b;
}

/* メディアクエリ */
/* @media screen and (max-width: 900px) {
} */

/* 共通 */
body {
  font-family: 'HiraginoKakuGothicProN-W3', 'sans-serif';
  color: var(--font-color);
  font-weight: 300;
}

a {
  color: var(--font-color);
}

/* 背景 */
.header,
.main {
  background: var(--bg-color);
}

/* タイトル */
.sec__ttl {
  font-size: var(--font-36);
  line-height: 1;
  letter-spacing: 0.3em;
  position: relative;
  text-transform: uppercase;
}

.sec__ttl::after {
  content: '';
  width: 40px;
  height: 1px;
  background: var(--line-color);
  position: absolute;
}

.sec__sub-ttl {
  display: block;
  font-size: var(--font-14);
  letter-spacing: 0;
  margin-top: 10px;
  padding-bottom: 36px;
}

/* コンテンツ幅 */
.sec__inner,
.footer__inner {
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .sec__inner,
  .footer__inner {
    width: 100%;
  }
}

/* 文字サイズ */
.news__desc,
.about__desc,
.footer__address {
  font-size: var(--font-14);
}

/* header  */
.header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 100px;
}
@media screen and (max-width: 900px) {
  .header__inner {
    flex-direction: column;
    padding: 16px 0 15px 16px;
  }
}

.header__logo {
  margin-right: 60px;
}

.gnav__list {
  display: flex;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
  margin-left: auto;
  font-size: var(--font-14);
}

/* 問い合わせボタン */
.header-contact__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 200px;
  height: 80px;
  color: #fff;
  font-size: var(--font-12);
  margin-left: auto;
}
@media screen and (max-width: 900px) {
  .header-contact__btn.sp-hidden {
    display: none;
  }
}

/* main */
.main {
  padding-bottom: 128px;
}
/* main-visual */
.main-visual {
  margin-bottom: 120px;
}

.main-visual__img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/* news */
.news__inner {
  margin-bottom: 120px;
}

.news__ttl {
  margin-bottom: 60px;
}

.news__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 900px) {
  .news__list {
    grid-template-columns: 1fr;
  }
}

.news__item {
  padding: 10px 0;
}

.news__item:not(:first-of-type) {
  border-left: 1px solid var(--line-color);
  padding-left: 20px;
}
@media screen and (max-width: 900px) {
  .news__item:not(:first-of-type) {
    border-left: none;
    padding-left: 0;
  }
}

.news__date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  font-size: var(--font-14);
  line-height: 1.5;
}

.news__label {
  display: block;
  width: 50px;
  height: 20px;
  font-size: var(--font-12);
  color: var(--font-white);
  text-align: center;
  line-height: 20px;
  background: #000;
}

.news__desc {
  font-size: var(--font-14);
}

/* about */
.about__inner {
  margin-bottom: 120px;
  display: flex;
  gap: 5%;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media screen and (max-width: 900px) {
  .about__inner {
    flex-direction: column-reverse;
  }
}

.about__inner--right {
  margin-top: 180px;
  padding-right: 5%;
  /* padding-left: 70px; */
}

.about__inner--left {
  margin-right: auto;
}

.about__ttl {
  margin-bottom: 50px;
}

.about__desc {
  line-height: 2.2;
}

.about__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* business */
.business__inner {
  margin-bottom: 120px;
}

.business__ttl {
  margin-bottom: 50px;
}

.business__list {
  display: flex;
  align-content: flex-start;
  gap: 50px 64px;
  height: 677px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 100px;
}
@media screen and (max-width: 900px) {
  .business__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    height: auto;
    margin-left: 0;
  }
}

.business__item {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 368px;
}

.business__item:first-child {
  margin-top: 80px;
}

.business .item__ttl {
  font-size: var(--font-14);
  font-weight: 600;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
}

.business .item__ttl::before {
  content: '-';
  position: absolute;
  left: -10px;
}

/* company */
.company__inner {
  display: flex;
  width: 100%;
  height: 622px;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 900px) {
  .company__inner {
    position: static;
    flex-direction: column;
    height: auto;
  }
}

.company__ttl {
  margin-bottom: 50px;
}

.company__inner--left {
  padding: 100px 139px 100px 62px;
  width: 567px;
  background: #fff;
  position: absolute;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .company__inner--left {
    width: 100%;
    position: static;
    padding: 0;
  }
}

.company__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-14);
}

.company__item {
  display: flex;
  line-height: 1.5;
}
@media screen and (max-width: 900px) {
  .company__item {
    flex-direction: column;
  }
}

.company__term {
  width: 23%;
}

.company__desc {
  width: 77%;
}

.company__list-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company__inner--right {
  max-width: 547px;
  height: 400px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 900px) {
  .company__inner--right {
    width: 100%;
    position: static;
    height: auto;
    transform: none;
  }
}

.company__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* footer  */
.footer__inner {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer__inner--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer__address {
  line-height: 1.5;
}

.footer__copyright {
  font-size: var(--font-10);
  line-height: 1.5;
}
